<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kkk.taiwan.kuanlin.piandroid">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.REVOKE_RUNTIME_ERMISSIONS" />

    <permission
        android:name="kkk.taiwan.kuanlin.piandroid.permission.ServiceLog"
        android:label="@string/app_name"
        android:permissionGroup="@string/app_name"
        android:protectionLevel="dangerous">
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kkk.taiwan.kuanlin.piandroid.permission"/>
        <activity android:name="kkk.taiwan.kuanlin.piandroid.intent" />
        <activity android:name="kkk.taiwan.kuanlin.piandroid.settings" />
        <activity android:name="kkk.taiwan.kuanlin.piandroid.listpermission" />

        <receiver android:name=".myAdmin" >
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/my_admin"/>
            <intent-filter >
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".ServiceLog"
            android:permission="kkk.taiwan.kuanlin.piandroid.permission.ServiceLog">>
            <intent-filter >
              <action android:name="kkk.taiwan.kuanlin.piandroid.action.ServiceLog"/>
              <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>

</manifest>